<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111224663966-r41ag154ih0hka29em0jccsd05qv916r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111224663966-r41ag154ih0hka29em0jccsd05qv916r</string>
	<key>API_KEY</key>
	<string>AIzaSyDkfl-LM0z0QAK-ir9QZ7n5djixzE6fiHA</string>
	<key>GCM_SENDER_ID</key>
	<string>111224663966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dominh.dominGR1</string>
	<key>PROJECT_ID</key>
	<string>domingr1</string>
	<key>STORAGE_BUCKET</key>
	<string>domingr1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111224663966:ios:d7d350cc7e17f8bb28f08f</string>
</dict>
</plist>